@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar Sesión";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<br />
<form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>
    <h1 style="color:white!important;">Bienvenido(a)</h1>
    <div>
        <input asp-for="Input.User" type="text" class="form-control" placeholder="Usuario" required="" />
    </div>
    <div>
        <input asp-for="Input.Password" type="password" class="form-control" placeholder="Contraseña" required="" />
    </div>
    <div>
        <button class="btn btn-success submit" type="submit">Iniciar Sesión</button>
    </div>

    <div class="clearfix" style="color:white!important;"></div>

    <div class="separator">


        <div>
            <p style="color:white!important;">©2019 - Univerisdad de Matanzas</p>
        </div>
    </div>
</form>
