<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gestión de Bares</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/lib/login/bootstrap.min.css" rel="stylesheet">
    <link href="~/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/fonts/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">

    <!-- Custom Theme Style -->
    <link href="~/lib/login/custom.min.css" rel="stylesheet">
    @RenderSection("styles", false)
</head>
<body class="login" style="background-color:#222d32;">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form" style="padding-top:20%;">
                <section class="login_content" >
                    @RenderBody()

                </section>
            </div>

        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>

