@model GestionBares.Models.Producto

@{
    ViewData["Title"] = "Edit";
}


<div class="container-fluid">
    <h3>Editar Producto</h3>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="Codigo" class="control-label"></label>
                        <input asp-for="Codigo" class="form-control" />
                        <span asp-validation-for="Codigo" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="UnidadId" class="control-label"></label>
                        <select asp-for="UnidadId" class="form-control chosen" asp-items="ViewBag.UnidadId"></select>
                        <span asp-validation-for="UnidadId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="FamiliaId" class="control-label"></label>
                        <select asp-for="FamiliaId" class="form-control chosen" asp-items="ViewBag.FamiliaId"></select>
                        <span asp-validation-for="FamiliaId" class="text-danger"></span>
                    </div>
                </div>
               
                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="Precio" class="control-label"></label>
                        <input asp-for="Precio" class="form-control" />
                        <span asp-validation-for="Precio" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Costo" class="control-label"></label>
                        <input asp-for="Costo" class="form-control" />
                        <span asp-validation-for="Costo" class="text-danger"></span>
                    </div>
                </div>
                    <div class="form-group col-md-12 text-right">
                        <input type="submit" value="Guardar" class="btn btn-success" />
                        <a asp-action="Index" class="btn btn-default">Atrás</a>
                    </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
