<div>
    @model GestionBares.Models.DependienteBar
    @{
        ViewData["Title"] = "Create";
    }

    @section styles{
        <link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
        <link href="~/css/buttons.dataTables.min.css" rel="stylesheet" />
    }

    <div class="container-fluid">
        <h3>Nuevo Turno</h3>


        <form asp-action="Create">

            <div class="form-group col-md-4">
                <label asp-for="Dependiente.Nombre" class="control-label"></label>
                <select asp-for="DependienteId" class="form-control" asp-items="ViewBag.DependienteId"></select>
            </div>
            <div class="form-group col-md-12 text-left">
                <input type="submit" value="Crear" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-default">Atrás</a>
            </div>
            <table class="table dynamic">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Agregar")
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Bar)
                        </th>                        
                    </tr>
                </thead>
                <tbody>
                    @for (int x = 0; x < Model.CheckedTurnos.Count; x++)
                    {
                        <tr>
                            <td>
                                <input asp-for="CheckedTurnos[x].Checked" type="checkbox" />
                                <input asp-for="CheckedTurnos[x].BarId" value="@Model.CheckedTurnos[x].BarId" type="hidden" />
                            </td>
                            <td>
                                @Model.CheckedTurnos[x].Bar.Nombre
                            </td>                            
                        </tr>
                    }
                </tbody>
            </table>
        </form>

    </div>


    @section scripts{
        <script src="~/js/datatables.min.js"></script>
        <script src="~/js/mbs-qdtf.js"></script>
        <script>
            $(document).ready(function () {
            });</script>
    }
</div>