
                    <li class="header">MENU PRINCIPAL</li>
                    <li>
                        <a asp-controller="Home" asp-action="Index">
                            <i class="fa fa-home"></i> <span>Inicio</span>
                        </a>
                    </li>
                    <li><a asp-controller="UnidadesDeMedidas" asp-action="Index"><i class="fa fa-chevron-right"></i> Unidades de Medidas</a></li>
                    <li><a asp-controller="FamiliasDeProductos" asp-action="Index"><i class="fa fa-chevron-right"></i> Familias de Productos</a></li>
                    <li><a asp-controller="Productos" asp-action="Index"><i class="fa fa-chevron-right"></i> Productos</a></li>
                    <li><a asp-controller="Bares" asp-action="Index"><i class="fa fa-chevron-right"></i> Bares</a></li>
                    <li><a asp-controller="Solicitudes" asp-action="Productos"><i class="fa fa-chevron-right"></i> Solicitudes de productos</a></li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-cogs"></i>
                            <span>Reportes</span>
                            <span class="pull-right-container">
                                <span class="label label-warning pull-right "><i class="fa fa-chevron-down"></i></span>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a asp-controller="Reportes" asp-action="Index"><i class="fa fa-chevron-right"></i> Reporte 1</a></li>
                        </ul>
                    </li>
                    
                    
