
                    <li class="header">MENU PRINCIPAL</li>
                    <li>
                        <a asp-controller="Home" asp-action="Index">
                            <i class="fa fa-home"></i> <span>Inicio</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Usuarios" asp-action="Index">
                            <i class="fa fa-user"></i> <span>Usuarios</span>
                        </a>
                    </li>                    
                    <li>
                        <a asp-controller="Turnos" asp-action="Index">
                            <i class="fa fa-home"></i> <span>Turnos</span>
                        </a>
                    </li> 