
                    <li class="header">MENU PRINCIPAL</li>
                    <li>
                        <a asp-controller="Home" asp-action="Index">
                            <i class="fa fa-home"></i> <span>Inicio</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Turnos" asp-action="Nuevo">
                            <i class="fa fa-home"></i> <span>Turno</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="ControlesExistencias" asp-action="PorTurno">
                            <i class="fa fa-home"></i> <span>Control de existencia</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Entradas" asp-action="Index">
                            <i class="fa fa-home"></i> <span>Entradas</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Traslados" asp-action="Index">
                            <i class="fa fa-home"></i> <span>Traslados</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Ventas" asp-action="Index">
                            <i class="fa fa-home"></i> <span>Ventas Extracarta</span>
                        </a>
                    </li>
                    