<h1>Sistema de Control de productos en Bares</h1>

@if (User.IsInRole(DefinicionRoles.Dependiente))
{
    <div class="well well-lg">
        <p class="alert alert-primary">@ViewBag.Turno</p>
    </div>
}
