@model GestionBares.ViewModels.NuevoDependienteVM

@{
    ViewData["Title"] = "Nuevo";
}


<div class="container-fluid">
    <h3>Crear Dependiente</h3>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nombres" class="control-label"></label>
                    <input asp-for="Nombres" class="form-control" />
                    <span asp-validation-for="Nombres" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Apellidos" class="control-label"></label>
                    <input asp-for="Apellidos" class="form-control" />
                    <span asp-validation-for="Apellidos" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NombreUsuario">Nombre de Usuario</label>
                    <input asp-for="NombreUsuario" class="form-control" />
                    <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Contraseña</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword">Confirmar contraseña</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group col-md-12 text-right">
                    <input type="submit" value="Crear" class="btn btn-success" />
                    <a asp-action="Index" class="btn btn-default">Atrás</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
