@model GestionBares.Models.Dependiente

@{
    ViewData["Title"] = "Editar";
}


<div class="container-fluid">
    <h3>Editar Dependiente</h3>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="UsuarioId" />
                <input type="hidden" asp-for="Activo" />
                <div class="form-group col-md-4">
                    <label asp-for="Nombres" class="control-label"></label>
                    <input asp-for="Nombres" class="form-control" />
                    <span asp-validation-for="Nombres" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Apellidos" class="control-label"></label>
                    <input asp-for="Apellidos" class="form-control" />
                    <span asp-validation-for="Apellidos" class="text-danger"></span>
                </div>
                <div class="form-group col-md-12 text-right">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                    <a asp-action="Index" class="btn btn-default">Atrás</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
